*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: bold 11pt caption;
}
.body-normal{
    display: flex;
}
.body-968{
    display: none;
}
.body-360{
    display: none;
}


.body-normal span{
    cursor: pointer;
}

.menu-novo{
    padding: 10px;
}

.menu-novo li{
    display: inline-block;
    columns: 2em;
}

.body-normal nav li .p-menu{
    color: rgb(183, 0, 183);
    text-decoration: none;
    padding: 10px;
}
.body-normal nav li a{
    display: inline-block;
    color: rgb(183, 0, 183);
    text-decoration: none;
    padding: 10px;
}

.body-normal  nav  li .p-menu:hover,a:hover{
    background-color: rgb(183, 0, 183);
    color: white;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.349);
    transition: 0.5s;
}

.dropdown-menu{
    margin-top: 5px;
    padding: 10px;
    position: absolute;
    background-color: rgb(183, 0, 183);
    color: white;
    border-radius: 5px 0 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    display: none;
}

.dropdown:hover .dropdown-menu{
    display: block;

}

.dropdown-novo{
    margin-top: 5px;
    padding: 10px;
    position: absolute;
    background-color: rgb(183, 0, 183);
    color: white;
    border-radius: 5px 0 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    display: none;
}

.dropdown1:hover .dropdown-novo{
    display: block;

}

.menu-funcoes{
    display: block;
    position: absolute;
    background-color: rgb(183, 0, 183);
    width: 100%;
    padding: 30px;
    padding-top: 50px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.449);
}

.menu-funcoes p{
    color: red;
}
.menu-funcoes li{
    display: inline-block;

}
.menu-funcoes ul li a{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    color: white;
    padding: 10px;
}
.menu-funcoes ul li a:hover{
    transition: 0.5s;
    border: solid white;
}


.body-normal main{
    margin: auto;
    text-align: center;
}
.imagem{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid rgb(183, 0, 183);
}
.opcao-procurar{
    position: absolute;
    background-color: rgb(183, 0, 183);
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 50px;
    padding: 10px;
    border: solid rgb(138, 3, 138);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.opcao-procurar .procurar-texto{
    border: none;
    background: none;
    outline: none;
    color: white;
    line-height: 40px;
    padding: 0 6px;
    width: 0;
    transition: .5s;
}
.opcao-procurar:hover > .procurar-texto{
    width: 300px;
}
.opcao-procurar span{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gestao{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
}
.gestao li{
    display: inline-block;
    margin-top: 20px;
}
.gestao li a{
    color: rgb(183, 0, 183);
    padding: 10px;
    text-decoration: none;
}
.gestao li a:hover{
    background-color: rgb(183, 0, 183);
    color: white;
    padding: 15px;
    text-decoration: none;
}

.entrar-sair li{
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

.dropdown-entrar{
    margin-top: 5px;
    margin-left: -130px;
    padding: 10px;
    position: absolute;
    background-color: rgb(183, 0, 183);
    color: white;
    border-radius: 5px 0 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    display: none;
}

.dropdown2:hover .dropdown-entrar{
    display: block;

}

.dropdown-sair{
    margin-top: 5px;
    margin-left: -150px;
    padding: 10px;
    position: absolute;
    background-color: rgb(183, 0, 183);
    color: white;
    border-radius: 5px 0 5px 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
    display: none;
}

.dropdown3:hover .dropdown-sair{
    display: block;
}


@media screen and (max-width: 1083px) {
    .body-normal{
        display: none;
    }
    .body-968{
        display: block;
        display: flex;
    }

    a:hover li{
        background-color: white;
        color: rgb(138, 3, 138);
        box-shadow: none;
    }

    .menu-novo-968{
        display: flex;
        padding: 5px;
    }
    .body-968  .menu-novo-968  li p{
        display: block;
        color: rgb(183, 0, 183);
    }
    .body-968 .menu-novo-968 li a{
        color: rgb(138, 3, 138);
        margin-top: 10px;
    }
    .menu-funcoes-968{
        display: flex;
        display: block;
        background-color: rgb(183, 0, 183);
        height: 100%;
        width: 70vw;
        padding: 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        
    }
    .menu-funcoes-968 p span{
        color: red;
        margin-top: 20px;
        margin-left: 50%;
    }
    .menu-funcoes-968 li{
        display: block;
        margin-top: 10%;
    }
    .menu-funcoes-968 li a{
        font: bold 12pt caption;
        display: block;
        text-decoration: none;
        color: white;
        padding: 5px;
    }
    .entrar-sair-968{
        position: absolute;
        top: 99%;
        transform: translate(0,-99%);
        padding: 5px;

    }
    .entrar-sair-968 li a{
        color: rgb(183, 0, 183);
        margin-top: 10px;
    }

    .body-968 main{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .imagem-968{
        width: 200px;
        height: 200px;
        border: solid rgb(183, 0, 183);
        border-radius: 50%;
        margin: auto;
    }
    .opcao-procurar-968{
        background-color: rgb(183, 0, 183);
        margin-top: 10px;
        height: 40px;
        padding: 10px;
        border: solid rgb(138, 3, 138);
        border-radius: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    .opcao-procurar-968 .procurar-texto{
        border: none;
        background: none;
        color: white;
        outline: none;
        line-height: 40px;
        padding: 0 6px;
        width: 200px;
        transition: .5s;
    }
    .opcao-procurar-968 span{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .gestao-968{
        display: flex;
        margin-top: 10px;
    }
    .gestao-968 li{
        display: block;
        display: inline-block;
    }
    .gestao-968 li a{
        display: block;
        color: rgb(138, 3, 138);
        text-decoration: none;
        padding: 1px;
    }
}

@media screen and (max-width: 500px) {
    .body-normal{
        display: none;
    }
    .body-968{
        display: none;
    }
    body{
        background-color: rgb(183, 0, 183);
        background-position: center center;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;

    }
    .body-360{
        display: block;
        display: flex;
    }
    .menu-funcoes-360{
        height: 100vh;
        width: 70vw;
        background-color: white;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        padding-bottom: 20%;
    }
    .menu-funcoes-360 > p span{
        background: none;
        box-shadow: none;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 50%;
        color: red;
    }
    .menu-funcoes-360 li{
        margin-top: 10%;
        margin-left: 5px;
    }
    .menu-funcoes-360 li .a-360{
        text-decoration: none;
        color: rgb(183, 0, 183);
        padding: 10px 10px;
    }
    .entrar-sair-funcoes-360 nav ul{
        background-color: rgb(128, 2, 128);
        height: 100vh;
        padding: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
    .entrar-sair-funcoes-360 a,span{
        display: block;
    }
    .men-360 span{
        background-color: rgba(255, 166, 0, 0.550);
        color: white;
        padding: 7px;
        margin-top: 20px;
        border-radius: 10px 0 10px 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
    .admin-360 a{
        background-color: rgba(165, 42, 42, 0.550);
        color: white;
        padding: 7px;
        margin-top: 20px;
        border-radius: 10px 0 10px 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
    .comercial-360 a{
        background-color: rgba(255, 255, 0, 0.550);
        color: white;
        padding: 7px;
        margin-top: 20px;
        border-radius: 10px 0 10px 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
    .tecnico-360 a{
        background-color: rgba(0, 0, 255, 0.550);
        color: white;
        padding: 7px;
        margin-top: 20px;
        border-radius: 10px 0 10px 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
    .recursos-360 a{
        background-color: rgba(0, 255, 255, 0.508);
        color: white;
        padding: 7px;
        margin-top: 20px;
        border-radius: 10px 0 10px 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
    
    .entrar-360 a{
        background-color: rgba(0, 128, 0, 0.550);
        color: white;
        padding: 7px;
        margin-top: 20px;
        border-radius: 10px 0 10px 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    
    }
    .sair-360 a{
        background-color: rgba(182, 0, 0, 0.550);
        color: white;
        padding: 7px;
        margin-top: 20px;
        border-radius: 10px 0 10px 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }
    .imagem-360{
        position: absolute;
        top: 20%;
        left: 55%;
        transform: translate(-55%,-20%);
        background-color: white;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
    .opcao-procurar-360{
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-60%,-50%);
        background-color: white;
        margin-top: 10px;
        height: 40px;
        padding: 10px;
        border: solid rgb(138, 3, 138);
        border-radius: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    .opcao-procurar-360 .procurar-texto{
        border: none;
        background: none;
        outline: none;
        line-height: 40px;
        padding: 0 6px;
        max-width: 200px;
        transition: .5s;
    }
    .opcao-procurar-360 span{
        color: rgb(183, 0, 183);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width: 360px) {

    .imagem-360{
        height: 100px;
        width: 100px;
        left: 68%;
        transform: translate(-68%,-20%);
    }
    .opcao-procurar-360{
        left: 68%;
    }
    .opcao-procurar-360 .procurar-texto{
        max-width: 120px;
    }
    
}

